node_modules/
dist/
.tmp/
.sass-cache/
bower_components/
.*~
.project/

# IntelliJ
.idea/
*.isw
*.iml
*.ipr
*.iws

# Maven
target/
log/

# Gradle
build/
.gradle/

~                                                                                                                                
~                                                                                                                                
~                                                                                                                                
~                                                                                                                                
~          
