<label>Busca: <input ng-model="searchText"></label>

(em {{ users.length }} registros)

<table>
  <tr>
    <td style="background-color:#b5d592"><b>Código</b>    </td>
    <td style="background-color:#b5d592"><b>Nome</b></td>
    <td style="background-color:#b5d592"><b>Cidade</b></td>
  </tr>
  <tr ng-repeat="x in users | filter:searchText | limitTo:20 track by $index  ">
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.codigo }}</td>
    <td ng-if="$even">{{ x.codigo }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.nome }}</td>
    <td ng-if="$even">{{ x.nome }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.cidade }}</td>
    <td ng-if="$even">{{ x.cidade}}</td>
  </tr>
</table>

<!--<div ng-repeat="n in nomes | filter:searchText | limitTo:25 track by $index ">-->
  <!--{{n}}-->
<!--</div>-->

