<label>Busca: <input ng-model="searchText"></label>

(em {{ mercadorias.length }} registros)

<table>
  <tr>
    <td style="background-color:#b5d592"><b>Referência</b>    </td>
    <td style="background-color:#b5d592"><b>Faixa</b></td>
  </tr>
  <tr ng-repeat="x in mercadorias | filter:searchText | limitTo:20 track by $index  ">
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.referencia | referenciaFormatada }}</td>
    <td ng-if="$even">{{ x.referencia }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.faixa }}</td>
    <td ng-if="$even">{{ x.faixa }}</td>
  </tr>
</table>
