<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-search"></span>
  </span>
  <input type="search" ng-model="searchText" placeholder="Pesquise..." class="form-control">
</div>
<table class="table" id="tabela">
  <thread>
    <tr>
      <th>Referência</th>
      <th>Faixa</th>
    </tr>
  </thread>
  <tbody>
    <tr ng-repeat="x in mercadorias | filter:searchText:comecaCom | limitTo:20  track by x.referencia  ">
      <td>
        <a ng-href="#/mercadoria/{{x.referencia}}">
          {{ x.referencia + x.digito| referenciaFormatada }}</a>
      </td>
      <td>{{ x.faixa }}</td>
    </tr>
  </tbody>
</table>
