 <div class="bs-example">
    <div class="page-header">
      <h1>Mercadoria <small>{{ referenciaMercadoria | referenciaFormatada }}</small></h1>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-xs-3" for="inputDescricao">Descrição:</label>
      <div class="col-xs-9">
        <input id="inputDescricao" class="form-control" placeholder="Descrição" value="Meia Aliança de Ouro C/0.21K de Brilhantes">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="inputTeor">Teor:</label>
      <div class="col-xs-9">
        <input id="inputTeor" class="form-control" placeholder="Peso" value="750">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="inputPeso">Peso:</label>
      <div class="col-xs-9">
        <input id="inputPeso" class="form-control" placeholder="Email" value="1.41">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="inputFaixa">Faixa:</label>
      <div class="col-xs-9">
        <input id="inputFaixa" class="form-control" placeholder="Faixa" value="C">
      </div>
    </div>


    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <label class="checkbox-inline">
          <input type="checkbox" value="news"> Fora de linha
        </label>
      </div>
    </div>

  </form>

    <h3>Componentes de custo</h3>

<div>
    <table class="table">
      <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Ação</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>31</td>
        <td>OURO COBRADO COMO 1.000 GR-04</td>
        <td> 1,41</td>
        <td>
          <a ng-click="delete()">
            <span class="glyphicon glyphicon-remove" style="color:red"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>AC</td>
        <td>ABRILHANTADO ATE 0,09K</td>
        <td>0,21</td>
        <td>
          <a href="#">
            <span class="glyphicon glyphicon-remove" style="color:red"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>21</td>
        <td>MAO DE OBRA CRAVACAO</td>
        <td>7,28</td>
        <td>
          <a href="#">
            <span class="glyphicon glyphicon-remove" style="color:red"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td><select class="form-control"></select></td>
        <td><input class="form-control" placeholder="" value=""></td>
        <td><input class="form-control" placeholder="" value=""></td>
        <td>
          <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </td>
      </tr>
      </tbody>
      </table>
</div>

 <div>
    <div class="form-group">
      <div class="col-xs-offset-9 col-xs-9">
        <input type="submit" class="btn btn-primary" value="Salvar">
        <input type="reset" class="btn btn-default" value="Cancelar">
      </div>
    </div>
 </div>


<br/><br/><br/>
